#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}


.container {
    /* You can set this to whatever you wish. */
    width: max-content;
    
    /* You'll need to set a height. */
    height: 400px;
    
    /* Allows positioning relative to this container. */
    position: relative;
    
    /* For clarity. */
    border: 1px solid black;
  }
