.container {
    /* You can set this to whatever you wish. */
    width: max-content;
    
    /* You'll need to set a height. */
    height: 400px;
    
    /* Allows positioning relative to this container. */
    position: relative;
    
    /* For clarity. */
    border: 1px solid black;
  }
  
  .box {
    position: absolute;
  }

  .box#one {
    width: 90px;
    height: 60px;
    background: red;
    
    top: 20px;
    left: 60px;
  }

  .box#two {

  }

  .box#three {

  }

  .box#four {

  }

  .box#five {
    
  }